/* TODO: import Roboto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&family=Roboto:wght@300;400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ENDOF CSS RESET */

body {
    font-family: Noto Sans TC, sans-serif;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
}
.inverse +  .container {
    max-width: 996px;
}

.inner-box {
    margin-bottom: 50px;
}

.title {
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}
.first-title {
    text-align: left;
    font: normal normal normal 24px/30px Noto Sans TC;
    margin-right: 5px;
}
.second-title {
    text-align: left;
    font: normal normal 500 18px/20px Roboto;
    color: #A00404;
}
.title-inverse {
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 0.8px solid #fff;
}
.title-inverse .first-title {
    font: normal normal normal 24px/30px Noto Sans TC;
    color: #fff;
    margin-right: 5px;
}
.title-inverse .second-title {
    text-align: left;
    font: normal normal 500 18px/20px Roboto;
    color: #fff;
}

.inverse {
    background-color: #415165;
    padding-top: 20px;
    padding-bottom: 20px;
}
.inverse .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-inverse {
    color: #fff;
}

.text ul {
    margin-top: 10px;
    font: normal normal 300 16px/30px Noto Sans TC;
}

.name {
    border-bottom: 2px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font: normal normal normal 40px/45px Roboto;
}

.portrait img {
    width: 200px;
    height: auto;
    display: block;
}

.skill-box {
    margin-top: 20px;
    border-left: 0.8px solid #fff;
}
.skill-box {
    padding-left: 10px;
}
.skill-box li {
    /* color: #fff; */
    font: normal normal 300 14px/24px Roboto;
}

.experience-box {
    margin-top: 10px;
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
}
.experience-box ul {
    margin-left: 20px;
}
.experience-box li {
    margin-bottom: 12px;
}
.experience-box .li-title {
    font: normal normal 300 16px/24px Noto Sans TC;
}
.experience-box .li-logo img {
    width: 60px;
    height: auto;
}
.experience-box .li-text {
    max-width: 500px;
    font: normal normal 300 12px/20px Noto Sans TC;
}

.contact-list {
    text-align: center;
    margin-top: 20px;
}
.contact-list li {
    font: normal normal 300 14px/24px Roboto;
}
.contact-list li a {
    text-decoration: none;
    color: #fff;
}

.contact-icons {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-icons li {
    margin: 8px;
}
.contact-icons li img {
    display: block;
    width: 30px;
    height: auto;
}